body{ margin:0 auto; font-size:12px; font-family:Arial,Verdana;}
ul,li,h2,h3,h4,input{ list-style:none; margin:0px; padding:0px;}
a{ text-decoration:none; cursor:pointer;}
.clera{ clear:both;}
input{ outline:none;}
#footer{ width:100%;}
#footer .fooer-menu{ width:1200px; height:150px; border-top:1px solid #eee; margin:20px auto;}
#footer .fooer-menu dl{ float:left; width:200px; margin:30px 0 0 40px;}
#footer .fooer-menu dl dt{ font-size:14px; float:left; color:#6c6c6c; font-size:16px; font-weight:bold; margin-bottom:5px;}
#footer .fooer-menu dl dd{ float:left; width:220px; line-height:18px; margin-left:5px;}
#footer .fooer-menu dl dd a{ color:#999;}
#footer .fooer-menu dl dd a:hover{ color:#296ecc;}
#footer .bq{ width:100%; height:50px; border-top:2px solid #296ecc;}

/*******************联系我们*****************/
#lxwm{float:left; margin-left:100px;}
#lxwm span{width:1120px; line-height:20px; font-size:13px; float:left;}
#lxwm span.women{width:1120px; line-height:35px; font-size:23px; float:left; color:#36C; margin-top:20px;}
#lxwm span.beijing{width:1120px; line-height:25px; font-size:15px; float:left; margin-top:10px; border-top:#ccc 1px dashed;}

/*******************商家联系我们*****************/
#sj-lxwm{float:left; margin-left:135px;min-height:180px; margin-bottom: 30px;font-size:16px;}
#sj-lxwm span{display:inline-block;width:800px; line-height:40px; font-size:12px; float:left;text-indent:100px;}
#sj-lxwm span.women{width:800px; line-height:20px; font-size:30px; float:left; color:#000; margin-top:40px;text-indent:0px;font-weight:600;}
#sj-lxwm span.beijing{width:964px; line-height:50px; font-size:26px; float:left; margin-top:-27px; border-top:1px solid #ccc;font-size:16px;}

/********************汽后服云平台增值服务介绍*******************/
#zzfw{width:1100px; margin-left:50px;}
#zzfw p.zengzhi{float:left; font-weight:bold; font-size:20px; margin-left:100px; margin-top:10px; color:#333; width:1000px; margin-bottom:10px;}
#zzfw p.qhfy{ float:left; width:1000px; margin-left:120px; font-size:13px;}
table{ float:left; width:920px; margin-left:150px; margin-bottom:20px;}
table.wenjuan{ float:left; width:920px; margin-left:60px;}
table tr td{ border:#CCC 1px solid; text-align:center;}
#zzfw p.qiye{ float:left; font-size:36px; font-weight:bold; width:800px; color:#000; margin-left:100px;}
#zzfw img.ywlc{ float:left; margin-left:300px; margin-top:10px;border-top:1px solid #36F;}
#zzfw p.hxyt{ width:100px; height:1px; font-size:0; background:#fffff;}
#zzfw img{ float:left; margin-left:130px; margin-top:10px;}
#zzfw p.zddhd{ float:left; font-size:16px; font-weight:bold; width:1000px; color:#666; margin-left:130px;}
#zzfw p.wjdc{ float:left; font-weight:bold; font-size:24px; color:#333; width:100px; line-height:30px; margin-left:50px;}
#zzfw p.qxz{ float:left; font-size:16px; color:#666; margin-top:30px; line-height:20px; margin-left:5px;}
#zzfw a.qdbtj{float:left; line-height:30px; color:#FFF; background:#36F; font-size:24px; font-weight:bold; text-align:center; width:200px; margin-left:520px; margin-top:10px; margin-bottom:20px;}


/********************************购物车******************************************/
#list-main-gwc{width:1100px; background:#FFF; border:#eee 1px solid; margin:0px auto;}
#list-main-gwc table.sellpro{ width:100%; border-collapse: collapse; border:1px solid #e4e4e4; float:left; border-bottom:1px solid #e4e4e4; margin-bottom:10px;}
#list-main-gwc table.sellpro tr{ border-bottom:1px solid #eee; height:80px;}
#list-main-gwc table.sellpro tr:hover{ background-color:#f9f9f9;}
#list-main-gwc table.sellpro tr.title{ margin:0px; padding:0px; height:35px; line-height:35px; width:798px; text-align:left; font-size:14px; font-family:"microsoft yahei"; background-color:#f5f5f5; margin-left:-10px; color:#333; border-bottom:1px solid #e4e4e4; font-weight:bold;}
#list-main-gwc table.sellpro tr.title:hover{background-color:#f5f5f5;}
#list-main-gwc table.sellpro tr td a{ float:left; color:#3c3c3c; cursor:pointer;}
#list-main-gwc table.sellpro tr td input.checkbox{ float:left; margin:15px 5px;}
#list-main-gwc table.sellpro tr td a{ float:left; color:#3c3c3c; cursor:pointer;}
#list-main-gwc table.sellpro tr td a.name{ line-height:20px; margin-left:50px; width:350px; height:40px;}
#list-main-gwc table.sellpro tr td a.name:hover{ color:#2f80eb; text-decoration:underline;}
#list-main-gwc table.sellpro tr td a.pic{ font-size:18px; font-family:"microsoft yahei"; color:#ff4a00; width:80px; margin-left:20px;cursor:default;}
#list-main-gwc table.sellpro tr td a.pic1{color:#666; margin-left:1px; margin-right:20px;}
#list-main-gwc table.sellpro tr td a.pic2{color:#666; margin-left:20px;}
#list-main-gwc table.sellpro tr td input.h{ width:40px; height:30px; color:#ff4a00; border:1px solid #e4e4e4; text-align:center; float:left; margin:6px 5px 0; font-size:20px;}
#list-main-gwc table.sellpro tr td b{ float:left; width:20px; height:20px; text-align:center; color:#666; font-size:16px; background-color:#e1e1e1; line-height:20px; margin-top:12px;}
#list-main-gwc table.sellpro tr td a.bot{ margin-left:5px; padding:5px 5px; color:#2f80eb; text-align:center; width:100px;}
#list-main-gwc table.sellpro tr td .mj{ float:left; padding:1px 5px; border-radius:5px; color:#FFF; background:#06F;font-family:"microsoft yahei"; font-weight:100; line-height:15px; margin-top:13px; font-size:12px;}
#list-main-gwc table.sellpro tr td a.qrsh{ width:80px; height:30px; background-color:#2f80eb; color:#fff; display:block; text-align:center; line-height:30px; font-family:"microsoft yahei"; border-radius:10px;margin-left:95px;}
#zzfw a.qdbtj:hover{color:#36F; background:#fff; border:1px solid #36F; margin-bottom:10px;}

/*cart_02.html 订单商品展示*/
.cartItem{margin-left: 24px;}
.cartItem ul,li{ list-style:none; margin:0px; padding:0px;}
.cartItem_pro_list{ float:left; width:1046px; border-bottom:0px; font-family: "microsoft yahei";}
.cartItem_pro_list li{ float:left; width:100%; border-bottom:1px solid #e4e4e4;}
.cartItem_pro_list li.title{ min-height:35px; line-height:35px; border-bottom:0px;}
.cartItem_pro_list li.title span{ float:left; border-bottom:3px solid #ccc; text-align:center; margin-right:5px;}
.cartItem_pro_list li img{ float:left; margin:10px; width:60px; height:60px;}
.cartItem_pro_list li h3{ width:510px; line-height:25px; float:left; margin-top:20px; font-size:15px; font-weight:500;}
.cartItem_pro_list li h3 a{ text-decoration:none;}
.cartItem_pro_list li label{ float:left; line-height:80px; text-align:center; margin-right:3px;}
.car_bz_js{ width:1046px; height:60px; font-family: "microsoft yahei"; border-bottom:1px solid #e4e4e4; float:left;}
.car_bz_js span{ float:left; line-height:60px; color:#666; margin-left:10px;}
.car_bz_js input{ float:left; width:500px; height:30px; border:1px solid #ccc; margin:14px 0; padding:0 5px;}
.car_bz_js label{ float:right; line-height:60px; margin-left:30px;}
.car_bz_js label font{ color:#ff4a00; font-size:16px;}
.car_bz_js a{ float:right; height:38px; background-color:#ff8800; border:1px solid #c76e09; font-size:20px; line-height:38px; text-align:center; color:#fff; padding:0 40px; margin:10px 0 0 20px; cursor:pointer;}
.car_bz_js a:hover{ background-color:#c76e09;}

/*大区选择*/
ul,li{ margin:0px; padding:0px; list-style:none;}
.selectSea{ float:left; position:relative; margin:0 auto;}
.selectSea .jt{ position:absolute; right:3px; top:1px; width:20px; height:33px; background:url(../images/selectSea_ico.png);}
.selectSea span{ height:29px; line-height:29px; width:80px; padding:0 5px; border:0 none; margin-left:-10px;}
.selectSea ul{ float:left; position:absolute; top:30px; width:310px; left:-6px; border:1px solid #ccc; border-top:0 none; background-color:#fff; display:none; height:135px;  overflow-x:hidden;}
.selectSea ul li{ float:left; width:auto; height:33px;  padding:0 5px; font-size:12px;}
.selectSea ul li:hover{ background-color:#eee; color:#2f80eb; cursor:pointer;}

/*提示信息样式开始*/
#main ul.userName li label.errTs{padding:0 5px;margin-top:-10px;color:#f00;font-size:12px;font-family:"Microsoft YaHei",arial,"宋体";}
.errTs{display:block;width: auto;line-height:30px;height:30px;cursor: pointer;border: 1px solid #ffbdbe;background: #FFEBEB;color: #f00;padding:0 15px;font-size:12px;font-family:"Microsoft YaHei",arial,"宋体"; text-align:left;margin-left:5px;}
.successTs{display:block;width:auto;line-height:30px;height:auto;cursor: pointer;color:#f00;padding:10px 30px;font-size:12px;font-family:"Microsoft YaHei",arial,"宋体"; text-align:left;background: url(../images/tssuccess.png) no-repeat;background-position:10px 0px;}
ul.dqbd li label.successTs{margin-top:5px;}
/*提示信息样式结束*/

