/**
userHeader
**/
body{ background-color:#f7f7f7;}

.userHeader{ height:80px; background-color:#f97247;}
.userHeader .logo{ height:50px; margin:15px 0;}
.userHeader li{ float:left; height:30px; line-height:30px; margin:25px 50px 25px 0; position:relative;}
.userHeader li a{ color:#fff; font-size:14px; font-weight:700;}
.userHeader li a:hover{ color:#fff;}
.userHeader li a i{ margin-left:5px;}
.userHeader .nav_down{ background-color:#fff; position:absolute; top:29px; left:50%; margin-left:-200px; width:400px; padding:20px; border:1px solid #e1e1e1; box-shadow:0 0 5px #eee; z-index:10; display:none;}
.userHeader .nav_down a{ color:#333; font-weight:100; text-indent:10px; margin-bottom:10px;}
.userHeader .nav_down a:hover{ background-color:#eee; color:#e84d1c;}
.userHeader li:hover .nav_down{ display:block;}
.userHeader li.back_index{ float:right; line-height:27px; border:1px solid #fff; padding:0 15px; border-radius:15px;}
.userHeader li.back_index a{ font-weight:100;}
.userHeader li.back_index a i{ margin:0 5px 0 0;}
.userHeader li.back_index:hover{ background-color:#fff;}
.userHeader li.back_index:hover a{ color:#e84d1c;}
.userHeader input{ border:1px solid #fff; height:30px; margin:25px 0;}
.userHeader input[type="button"]{ background-color:#e1e1e1; color:#333; cursor:pointer;}

/**
userMain
**/
.user_nav{ margin:20px 0; float:left;}
.user_nav dl{ margin-bottom:20px;}
.user_nav dt{ font-weight:700; color:#000; line-height:15px; margin-bottom:10px;}
.user_nav dd a{ color:#666; line-height:24px;}
.user_nav dd a:hover{ color:#e84d1c; text-decoration:underline;}
.user_nav dd a.xuan{ color:#e84d1c; text-decoration:underline;}

.user_main{ margin:20px 0; padding-left:10px;}
.user_main .user_info{ padding:20px; background-color:#fff;}
.user_main .user_info li{ border-left:1px dotted #e1e1e1;}
.user_main .user_info li:first-child{ border:0px;}
.user_info .user_tx img{ border-radius:50%; border:1px solid #eee;}
.user_info .user_text{ padding:10px 0 0 10px;}
.user_info .user_text h3{ font-size:16px; line-height:30px;}
.user_info .user_text p a{ margin-right:10px; height:20px; line-height:20px; color:#e84d1c;}
.user_info .user_text p a i{ margin-right:5px;}
.user_info .user_text p a:hpver{ text-decoration:underline;}
.user_info .user_todo{ padding:0 20px;}
.user_info .user_todo dl{ padding-bottom:8px;}
.user_info .user_todo dt img{ border-radius:50%;}
.user_info .user_todo dd{ padding:0 10px;}
.user_info .user_todo dd a{ font-size:14px;}
.user_info .user_todo dd span{ font-size:14px; font-weight:700; color:#e84d1c; margin-left:5px;}
.user_info .user_account{ padding:0 0 0 20px; font-size:12px;}
.user_info .user_account div{ margin-bottom:5px;}
.user_info .user_account b{ margin:0 5px;}

.detaInfo{ position:relative; padding:20px;}
.detaInfo .jt{ background:url(/customer/sydjt/images/pjsd_line.png); position:absolute; width:20px; height:20px; top:-20px; right:165px;}
.detaInfo_none{border:1px solid #d0e4c2; background:#fcfffa;}
.detaInfo_block{border:1px solid #ffbdbe; background:#ffebeb;}

.my_orders{ margin-top:10px; padding:10px 20px; background-color:#fff;}
.order_title{ height:30px; line-height:30px;}
.order_title h3{ font-size:16px;}
.order_title a{ float:right; color:#999;}
.order_main .order_none{ height:200px; line-height:200px; text-align:center; font-size:20px; color:#ccc;}

.order_main dl{ border-bottom:1px dotted #e1e1e1; padding:20px 0;}
.order_main dl:last-child{ border-bottom:0px;}
.order_main dd{ padding-top:10px; position:relative;}
.order_main dd span{ text-align:center; line-height:20px;}
.order_main dd i{ margin-left:5px;}
.order_main dd b{ text-align:center; line-height:20px; color:#e84d1c;}
.order_main dd a{ line-height:40px; text-align:right;}
.order_main dd .order_info{ position:absolute; width:450px; padding:5px 20px; box-shadow:0 0 5px #eee; border:1px solid #e1e1e1; background-color:#fff; z-index:1; top:0px; right:100px; display:none;}
.order_main dd .order_info .jt{ position:absolute; width:20px; height:20px; right:-20px; top:28px; background:url(../../images/jl_poplayer.png);}
.order_main dd .order_info ul{ line-height:20px; padding:5px 0;}
.order_main dd .order_info ul.title{ border-bottom:1px solid #e1e1e1;}
.order_main dd:hover .order_info{ display:block;}

.user_content{ margin-top:10px; background-color:#fff; padding:10px 15px;}
.user_page_main{ background-color:#fff;}
.user_page_main table{ border-top:1px solid #eee; border-right:1px solid #eee; border-collapse:collapse; margin-bottom:20px;}
.user_page_main table tr{ border-bottom:1px solid #eee; padding-left:10px; min-height:25px; line-height:25px;}
.user_page_main table td{ border-left:1px solid #eee; padding-left:10px;}

.user_page_tab{ height:40px; line-height:40px; margin-bottom:10px;}
.user_page_tab ul li{ margin:10px 20px 10px 0; height:20px; line-height:20px; cursor:pointer;}
.user_page_tab ul li:hover{ color:#e84d1c;}
.user_page_tab ul li.xuan{ color:#e84d1c; border-bottom:2px solid #e84d1c;}
.user_page_tab input[type="button"]{ width:100%; height:25px; line-height:25px; font-size:12px; padding:0px; margin:7px 0;}
.user_page_tab .order_seach input[type="text"]{ height:25px; margin:7px 0; border:1px solid #e1e1e1;}
.user_page_tab .order_seach a{ height:25px; line-height:25px; text-align:center; background-color:#f5f5f5; border:1px solid #e1e1e1; margin:7px 0;}

.user_page_seach{ background-color:#f9f9f9; margin:15px 0; padding:10px 0; border:1px solid #eee;}







/****************************************评价星级**************************************/
dl.user_page_address dd{ min-height:35px; line-height:35px; padding:0 20px; font-size:14px; color:#999;}
dl.xuan dd{ color:#333 !important;}

/****************************************账户安全**************************************/
dl.accSecur{ height:80px; background-color:#fff; line-height:80px; border-bottom:1px solid #eee;}
dl.accSecur dd{ position:relative; height:80px;}
dl.accSecur i{ text-align:center; line-height:80px; font-size:40px;}
dl.accSecur i.right{ color:#73b941;}
dl.accSecur i.error{ color:#f4cc51;}
dl.accSecur h2{ height:40px; line-height:40px; font-size:22px; color:#666; margin:20px 0; border-right:1px solid #eee;}
dl.accSecur label{ padding-left:40px;}
dl.accSecur span{ text-align:center; color:#005ea7;}
dl.accSecur span:hover{ color:#e84d1c; cursor:pointer;}
dl.accSecur input[type="button"]{ height:25px; line-height:25px; width:110px; padding:0px; font-size:12px; position:absolute; left:50%; top:50%; margin:-12px 0 0 -55px;}


.merch_main{ margin-top:20px;}
.merch_breadcrumb{ padding:10px 15px; background-color:#fff;}
.merch_breadcrumb li span{ color:#666;}
.merch_breadcrumb li i{ font-size:14px; color:#666; margin-right:5px;}
.merch_breadcrumb li.jt i{ margin:0px 10px; color:#ccc;}


.merch_page_tab{ height:40px; line-height:40px; margin-bottom:10px;}
.merch_page_tab ul li{ margin:10px 20px 10px 0; height:20px; line-height:20px; cursor:pointer;}
.merch_page_tab ul li:hover{ color:#e84d1c;}
.merch_page_tab ul li.xuan{ color:#e84d1c; border-bottom:2px solid #e84d1c;}




/**
发布商品
**/
.xzfl{ padding:0 0 0 40px;}
.xzfl h3{ margin:10px 0 15px 0;}
.xzfl .xzfl_jt{ height:300px; line-height:300px; text-align:center; font-size:30px; color:#e1e1e1;}
.xzfl .xzfl_seach{ height:31px; background-color:#f5f5f5; border-bottom:1px solid #e1e1e1;}
.xzfl .xzfl_seach input[type="text"]{ border:0px; height:30px; background-color:#f5f5f5;}
.xzfl .xzfl_seach i{ line-height:30px; text-align:center; color:#666;}
.xzfl .xzfl_main{ border:1px solid #e1e1e1;}
.xzfl ul{ height:290px; max-height:290px; overflow-y:auto;}
.xzfl li{ line-height:32px; padding:0 20px; font-size:14px;}
.xzfl li:hover{ background-color:#f5f5f5; cursor:pointer;}
.xzfl li.xuan{ background-color:#fceae4;}
.fljg{ height:50px; line-height:50px; font-size:16px; color:#999;}
.fljg span{ color:#e84d1c;}
.fljg i{ margin:0 20px; color:#ccc;}
.fbsp{ border-top:1px dotted #666; padding-top:20px;}
.fbsp dl{ margin-bottom:10px;}
.fbsp dd label{ color:#999; line-height:20px; margin:15px 0 0 15px;}
.fbsp dd span{ color:#666; line-height:20px; margin:15px 0 0 10px;}
.fbsp dd span.radio{ line-height:40px; float:left; margin:0 20px 0 5px;}
.fbsp dd ul{ padding:10px; border:1px solid #e1e1e1; background-color:#f9f9f9;}
.fbsp dd li{ line-height:30px;}
.fbsp dd li input[type="checkbox"]{ margin:8px 5px 8px 0;}
.fbsp dd li em{ float:left; width:20px; height:15px; margin:7px 5px 7px 0; border:1px solid #e1e1e1;}
.fbsp dd li em.color_01{ background-color:#fff;}
.fbsp dd li em.color_02{ background-color:red;}
.fbsp dd li em.color_03{ background-color:#ffff00;}
.fbsp dd li em.color_04{ background-color:#000;}
.fbsp dd li em.color_05{ background-color:#009900;}
.fbsp dd li em.color_06{ background-color:#0099ff;}
.fbsp dd li em.color_07{ background-color:#aaa;}
.fbsp dd li em.color_08{ background-color:#330000;}
.fbsp dd li em.color_09{ background-color:#000099;}
.fbsp dd li em.color_10{ background-color:#ff0066;}
.fbsp dd .up_img{ width:100px; height:100px;}
.fbsp dd .up_img i{ line-height:80px; font-size:40px;}














