/***
商品详细页
***/
.pro_card{ margin-top:20px;}
.pro_info{ margin-top:20px;}

.pro_card_left{ height:400px; min-width:400px;}
.pro_card_middle{ padding:0 20px; min-width:600px;}
.pro_card_middle .pro_title{}
.pro_card_middle .pro_price{ background-image:url(../images/bg.png); padding:10px 0;}
.pro_card_middle .pro_freight{ border-bottom:1px solid #e4e4e4; padding:10px 0;}
.pro_card_middle .pro_parameter{ border-bottom:1px solid #e4e4e4; padding:10px 0;}
.pro_card_middle .pro_service{ padding:10px 0;}
.pro_card_middle .pro_settlement a{ margin:0px; padding:10px 40px;}
.pro_card_middle .pro_settlement a:first-child{ padding:9px 39px;}
.pro_card_middle .pro_title h2{ float:none; font-weight:700; font-size:18px;}
.pro_card_middle .pro_title p{font-size: 14px;color:#e84d1c;font-family: "microsoft yahei"; padding-bottom:10px;}
.pro_card_middle dl{ padding:8px 0; min-height:20px;}
.pro_card_middle dt{ color:#999; line-height:20px; text-indent:10px;}
.pro_card_middle dd{ line-height:20px;}
.pro_card_middle dd ul{ margin-bottom:-10px;}
.pro_card_middle dd ul li{ margin:0 10px 10px 0;}
.pro_card_middle dd ul li a{ height:28px; line-height:26px; padding:0px 10px; border:1px solid #e4e4e4; position:relative;}
.pro_card_middle dd ul li a em{ height:15px; width:15px; position:absolute; bottom:0; right:0;}
.pro_card_middle dd ul li a:hover {border:2px solid #e84d1c; line-height:24px; margin:0 -1px;}
.pro_card_middle dd ul li a.xuan{ border:2px solid #e84d1c; line-height:24px; margin:0 -1px;}
.pro_card_middle dd ul li a.xuan em{ background-image:url(../images/xuan.png);}
.pro_card_middle .pro_price *{ float:left; line-height:20px;}
.pro_card_middle .pro_price span{ text-decoration:line-through;}
.pro_card_middle .pro_price i{ margin-right:10px;}
.pro_card_middle .pro_price b{ color:#e84d1c; font-size:18px;}
.pro_card_middle .pro_price em{ background-color:#ff4400; color:#fff; margin:0 0 0 10px; padding:0 5px;}
.pro_service a{ color:#005aa0; margin-right:10px; font-size:15px;}
.pro_service i{ margin-right:5px;}
.pro_card_right{ padding-left:20px;}
.pro_card_right li{ border-bottom:1px dotted #e1e1e1; padding:5px 0;}
.pro_card_right input[type="button"]{ font-size:12px; padding:3px 15px; float:right;}
.pro_card_right input[type="button"]:first-child{ float:left;}
.pro_card_right span{ color:#666;}


.pro_list_left{min-height:1000px; min-width:200px; max-width:200px; border:1px solid #e1e1e1;}
.pro_list_left h3{ width:100%; line-height:40px; text-indent:10px;}
.pro_list_left ul{ padding:0 10px;}
.pro_list_left ul li{ margin-bottom:10px;}
.pro_list_left ul li p{ word-wrap:break-word;}
.pro_list_left ul li b{ margin:5px 0;color:#e84d1c; font-size:16px; font-weight:bold;}
.pro_list_left ul li b i{ font-size:18px; margin-right:5px;}
.pro_list_left ul li .p_review a{ color:#005aa0;}
.pro_list_left ul li img{ width:100%; height:auto; margin:10px auto;}

.pro_info_middle{ padding-left:10px; min-width:800px;}
.shopxx{ padding-bottom:20px;}
.pro_info_middle ul{ border:1px solid #e4e4e4;}
.pro_info_middle ul li{ height:50px; line-height:50px; text-align:center; }
.pro_info_middle ul li a{ display:inline; border-right:1px solid #e4e4e4;padding:0 20px;}
.pro_info_middle ul li.selected{position: relative;border-top: 2px solid #e84d1c;margin: -1px 0 0 -1px;z-index: 1;padding: 0;}
.pro_info_middle ul li.selected a{font-weight: 700;display: block;height: 100%;line-height: 50px;color: #e84d1c;border-left: 1px solid #cfbfb1;border-right: 1px solid #cfbfb1;}
.pro_info_middle ul li.selected a:after{content:' ';display: block;border-width: 5px;border-style: solid;border-color: #e84d1c transparent transparent;width: 0;height: 0;font-family: arial;
position: absolute;top: -1px;left: 50%;margin-left: -5px;}

.pro_info_middle .parameter{ padding:0 20px; border:1px solid #e4e4e4;}
.pro_info_middle .parameter p{ padding:10px 0;}
.pro_info_middle .parameter p a{ color:#35a;}
.pro_info_middle .parameter p a.btn_radius{ border-radius:22px; height:22px; line-height:22px; padding:0 15px; background-color:#e84d1c; color:#fff; text-align:center; margin-left:15px;}
.pro_info_middle .parameter p a.btn_radius:hover{background-color:#d84d1c;}
.pro_info_middle .parameter p a.btn_radius i{ margin-right:5px; color:#fff;}
.pro_info_middle .parameter h4{ font-size:12px; color:#999; width:100%; padding:10px 0;}
.pro_info_middle .parameter h4 a{ float:right; font-weight:100; color:#666;}
.pro_info_middle .parameter h4 a i{ color:#999; margin-left:5px; font-size:14px;}
.pro_info_middle .parameter h4 a:hover{ text-decoration:underline;}
.pro_info_middle .parameter h4 a:hover i{ color:#e84d1c;}
.pro_info_middle .parameter dl dd{ width:33%; line-height:30px; word-break:keep-all; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}

.pro_info_middle .info_img{ margin-top:10px;}
.pro_info_middle .info_img img{ width:100%;}

.pro_info_right{background-color:#f5f5f5; min-height:800px;}
.pro_info_right ol{}
.pro_info_right ol li{ width:100%; height:40px; line-height:40px;}
.pro_info_right ol li a i{ font-size:14px; color:#999; margin-right:7px;}
.pro_info_right ol li a:hover{color:#e84d1c;}
.pro_info_right ol li a:hover i{color:#e84d1c;}
.pro_info_right ol li a.xuan{ color:#e84d1c;}
.pro_info_right ol li a.xuan i{color:#e84d1c;}





