<div class="content">
<div class="row">
  <div id="pro_nav_main">	
  <div class="w02 pro_nav">
    <h3>全部商品分类</h3><i class="fa fa-chevron-down"></i>
  </div> 
  <div id="menu-nav" class="w02 pro_nav_main">
    <div class="w02 pro_nav_list">
      <dl class="w12" data-index="0"><dd class="w11"><a href="">大家电</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12" data-index="1"><dd class="w11"><a href="">小家电</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12" data-index="2"><dd class="w11"><a href="">个人电器</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
      <dl class="w12"><dd class="w11"><a href="商品列表页.html">菜单单</a>/<a href="商品列表页.html">菜单</a>/<a href="商品列表页.html">菜单</a></dd><dt class="w01"><i class="fa fa-angle-right"></i></dt></dl>
    </div>
    <div class="w10 lg_w10 md_w02 pro_nav_case display_none">
      <div class="w09 lg_w09 md_w12">
      </div>
      <div class="w03 lg_w03 md_hidden">
        <ul class="w12"><li class="w06"><a class="w12"><img src="/customer/sydjt/images/ch.png" class="w12" /></a></li><li class="w06"><a class="w12"><img src="/customer/sydjt/images/gl.png" class="w12" /></a></li><li class="w06"><a class="w12"><img src="/customer/sydjt/images/cw.png" class="w12" /></a></li><li class="w06" class="w12"><a class="w12"><img src="/customer/sydjt/images/md.png" class="w12" /></a></li><li class="w06"><a class="w12"><img src="/customer/sydjt/images/he.png" class="w12" /></a></li><li class="w06"><a class="w12"><img src="/customer/sydjt/images/gl.png" class="w12" /></a></li></ul>
        <ul class="w12"><li class="w12"><a class="w12"><img src="/customer/sydjt/images/ch.png" class="w12" style="height:114px;" /></a></li><li class="w12"><a class="w12"><img src="/customer/sydjt/images/ch.png" class="w12" style="height:114px;" /></a></li></ul>
      </div>
    </div>
  </div>
  </div>
  
  <ul class="w10 lg_w10 md_w09 title_nav">
    <li><a href="/customer/sydjt/index.html">首页</a></li>
    <li><a href="http://localhost/news">新闻公告</a></li>
    <li><a href="/customer/sydjt/showProduct/member_shop_n.html">全部商品</a></li>
    <li><a href="/customer/sydjt/pbuying.html">促销活动</a></li>
<!--    <li><a>送货</a></li>-->
<!--    <li><a>安装</a></li>-->
<!--    <li><a>维修</a></li>-->
<!--    <li><a>菜单分类</a></li>-->
<!--    <li><a>菜单分类</a></li>-->
<!--    <li><a>菜单分类</a></li>-->
<!--    <li><a>菜单分类</a></li>-->
  </ul>
</div>
</div>
<link rel="stylesheet" type="text/css" href="/customer/sydjt/css/public-new.css" />
<link rel="stylesheet" type="text/css" href="/customer/sydjt/css/jl_icon.css" />
<script type="text/javascript" src="/customer/sydjt/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/customer/sydjt/js/ui.js"></script>

<script type="text/javascript" src="/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/js/jquery.lazyload.min.js"></script>
<script type="text/javascript" src="/js/commons.js"></script>
<script type="text/javascript" src="/customer/sydjt/js/index-09.js"></script>
<script type="text/template" id="m-tpl-1">
        <%_.each(mapList.PPFL02list[0].PPFL03list, function(item,index) {%>
					<dl class="w12">
					<dt class="w02">
						<a href="#" class="w09"><%=item.FLNAME%></a>
					</dt>
					<dd class="w10">
					<%_.each(item.SPFL04List,function(temp04,index){%>
						<a href="/customer/sydjt/showProduct/member_shop_n.html?f3_id=<%= temp04.FLCODE%>&f3_name=<%=escape(temp04.FLNAME)%>" target='_blank'><%= temp04.FLNAME%></a>
					<%});%>
					</dd>
					</dl>
        <%});%>
</script>
